// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#article-list {
  clear: both;
  list-style-type: none;
  padding-left: 0px;
  
  li {
    background: #FFF;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;

    .article-link {
      font-size: 1.5em;
      a {
        text-decoration: none;
      } 
    }
  }
}

.new-article {
  
  display: block;
  text-decoration: none;
  text-align: right;
  font-weight: bold;
}

.view-counter {
  background: #AAA;
  color: white;
  padding: 2px 5px;
}