@import "compass";
@import "susy";

body {
  @include container;

  background-color: #333333;
  color: #666;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #5A56D6;
  text-decoration: none;
  &:visited {
    color: #7D7ADE;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#header {
  @include span-columns(12,12);
  border: solid 2px red;
  background-color: #C4BDF2;
  margin-top: -20px;
  padding-top: 35px;
  position: relative;
  z-index: 999;

  #user_bar {

    #login_status {
      color: white;
      font-size: 1.5em;
      padding-left: 15px;
      vertical-align: middle;
    }
  }

}

#flash-area {
  @include span-columns(12,12);

  background: #FBFFD1;
  color: #D16D78;
  font-size: 1.2em;
  font-weight: bold;
  margin: -15px 0px 10px 0px;
  padding: 20px 0px 5px 0px;
  position: relative;
  text-align: center;
  z-index: 1;
}

#side_navigation {
  @include span-columns(3,12);
  border: solid 2px green;
  
  ul#side-menu {
    list-style-type: none;
    padding-left: 0px;
    
    li {
      background: #FFF;
      padding: 2px;
      margin-bottom: 10px;
      text-align: center; 
      
      a {
        text-decoration: none;
        display: block;
      }
      
      &:hover {
        border-bottom: 10px solid #C4BDF2;
      }
    }
  }
}

#content {
  @include span-columns(9 omega, 12);
  border: solid 2px blue;
}

input[type=password], input[type=text], textarea {
  background-color:#FFF;
  border:1px solid #dbdbdb;
  padding:5px;
  color: #000;
  &:focus {
    outline: none;
  }
}

hr {
  background-color: #AAA;
  border: 0px;
  height: 1px;
  margin-top: 20px;
}
